<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Users</title>
  </head>
  <body>
    <div class="div-container">
      <nav class="nav-contianer">
        <ul class="nav-bar">
          <li class="nav-tag tag1"><a href="/">Home</a></li>
          <li class="nav-tag tag2"><a href="/users">Users</a></li>
        </ul>
      </nav>
      <form action="/users" method="POST">
        <label for="username">USERNAME</label>
        <input type="text" name="username" />

        <label for="age">AGE</label>
        <input type="text" name="age" />
        <button type="submit">SUBMIT</button>
      </form>
    </div>
  </body>
</html>
